<%= semantic_form_for [:admin, @quiz] do |f| %>
	<%= f.inputs "Quis Details" do %>
		<%= f.input :name %>
		<%= f.input :topic %>
	<% end %>

	<!-- Start Nested Models -->
	<fieldset class="inputs">
		<legend>
			<span>Questions for this Quiz</span>
		</legend>
		<ol>
			<div class="has_many week_day_meals">
				<h3>Questions</h3>
				<%= f.fields_for :questions do |builder| %>
					<%= render "questions_fields", f: builder %>
				<% end %>
				<%= link_to_add_fields "Add New Shipping Option", f, :questions %>
			</div>
		</ol>
	</fieldset>
	<!-- Start Nested Models -->


	<%= f.actions do %>
	  	<%= f.action :submit %>
	  	<%= f.action :cancel, wrapper_html: {class: "cancel"} %>
	<% end %>
<% end %>